/* Global */

* {
	font-family: 'Lato', 'Helvetica Neue' sans-serif;
	font-weight: 300;
}


/* Helper Classes
 * * * * * * * * * * * * */

.text-center {
	text-align: center;
}

@media (min-width: 992px) {

	.no-right-padding {
		padding-right: 0;
	}

	.no-left-padding {
		padding-left: 0;
	}

}


/* Bootstrap Overrides
* * * * * * * * * * * * */

/* Buttons */
.btn {
	border-radius: 0;
	height: 38px;
	padding: 8px 18px;
}

.btn,
.btn-default,
.btn-success {
	color: #fafafa;
}

.btn-primary {
	background-color: #081f33;
}

.cart-btn {
	text-align: left;
	background: transparent;
	border: 1px solid #081f33;
	color: #081f33;;
}

/* Forms */
.form-group {
	margin: 25px auto 30px auto;
}

.form-control {
	border-radius: 0;
	height: 48px;
}

textarea.form-control {
	height: 80px;
}


/* Headings */

.heading {
	color: #686868;
	margin: 60px auto;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

/* Tabs */

.nav,
.pagination,
.carousel,
.panel-title a { 
	cursor: pointer;
}


/* Media Objects */

.product-list {
	padding: 30px;
	border-bottom: 1px solid #eff0f4;
}

.media, .media-body {
    background: inherit;
    overflow: hidden;
    zoom: 1;
}

.media-right,
.media-left,
.media-middle {
    display: table-cell;
    vertical-align: middle;
}

.media-body {
    width: 10000px;
}
.media-body,
.media-left,
.media-right {
    display: table-cell;
    vertical-align: top;
}

/* Modal */
.modal-column {
	width: 32.5%;
	display: inline-block;
}

/* Thumbnail */
.thumbnail {
	border-radius: 0;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	padding: 0
}

/* Navbar */
.navbar-default {
		background-color: transparent;
		border: 0;
}

.navbar-brand {
	font-size: 22px;
	font-weight: 300;
}

.navbar-default .navbar-brand {
	color: #081f33;
}

.navbar .form-group {
	margin: 0;
}

.navbar .form-control {
		height: 40px;
}





/* Page-Specific Styles */
body {
	background-color: #fff;
}

.homepage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
}

.home {
	background: url('../img/nightcitybackground2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;

	color: #fafafa;
	font-weight: 300;
}

.home .heading {
	margin-top: 180px;
	margin-bottom: 20px;
	color: inherit;
}

.home .byline {
	margin: 0 0 40px 0;
	font-size: 18px;
	font-style: italic;
}

.home .call-to-action {
	background: transparent;
	border: 1px solid #fafafa;
	box-sizing: content-box;
	font-size: 18px;
	font-weight: 300;
	line-height: 18px;
	padding: 7px 25px;

  -webkit-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.home .call-to-action:hover {
	border: 1px solid #081f33;
}

.homepage .slide {
	-webkit-transition: all 650ms ease-out;
	transition: all 500ms ease-out;

	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.homepage.ng-enter .slide {
		-webkit-transform: translateY(20px);
		transform: translateY(20px);

		background-position: 0 0;
}

.homepage .home {
	-webkit-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
	background-position: 0 0;
	opacity: 1;
}

.homepage.ng-enter .home {
	background-position: 0 50%;
	opacity: 0.6;
}


/* Shop Products */
.shop-products.container {
	margin-top: 140px;
	color: #081f33;
}

.shop-products .narrow-gutter {
	padding: 2px;
	overflow: hidden;
}

.tile {
	cursor: pointer;
}

.overlay {
	position: absolute;
	top: 100%;
	left: 2px;
	width: 99%;
	width: calc(100% - 4px);
	height: 99%;
	height: calc(100% - 4px);
	background-color: rgba(255, 255, 255, 0.75);
	text-align: left;
	padding-top: 20px;
	box-sizing: padding-box;
	cursor: pointer;
	color: #081f33;
	font-size: 16px;

	-webkit-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.overlay > p {
	padding-left: 20px;
}

.hovered .overlay {
	top: 60%;
}

.product-details.container {
	margin-top: 140px;
}

.product-details h2 {
	margin-bottom: 20px;
}

.product-details p {
	font-size: 18px;
}

.product-details .cart-btn {
	padding: 10px 20px;
}

.product-details .form-control {
	max-width: 200px;
}



