/* Helper Classes
 * * * * * * * * * * * * */

.text-center {
	text-align: center;
}

@media (min-width: 992px) {

	.no-right-padding {
		padding-right: 0;
	}

	.no-left-padding {
		padding-left: 0;
	}

}


/* Bootstrap Overrides
* * * * * * * * * * * * */

/* Buttons */
.btn {
	border-radius: 0;
	height: 38px;
	padding: 8px 18px;
}

/* Forms */
.form-group {
	margin: 25px auto 30px auto;
}

.form-control {
	border-radius: 0;
	height: 48px;
}

textarea.form-control {
	height: 80px;
}


/* Headings */

.heading {
	color: #686868;
	margin: 60px auto;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

/* Tabs */

.nav,
.pagination,
.carousel,
.panel-title a { 
	cursor: pointer;
}


/* Media Objects */

.product-list {
	padding: 30px;
	border-bottom: 1px solid #eff0f4;
}

.media, .media-body {
    background: inherit;
    overflow: hidden;
    zoom: 1;
}

.media-right,
.media-left,
.media-middle {
    display: table-cell;
    vertical-align: middle;
}

.media-body {
    width: 10000px;
}
.media-body,
.media-left,
.media-right {
    display: table-cell;
    vertical-align: top;
}

/* Modal */
.modal-column {
	width: 32.5%;
	display: inline-block;
}