<form name="cart" ng-submit="Ctrl.recordOrder(Ctrl.cart)">

  <div class="modal-header">
    <h3 class="modal-title">Cart</h3>
  </div>

  <div class="modal-body">
    
    <div ng-repeat="item in Ctrl.cartService.cart">
    	<p>an item</p>
    </div>

    <div ng-hide="Ctrl.cartService.cart.length > 0">
    	<p>Your cart has no items</p>
    </div>

    <div class="well text-right">
    	
    	<p><small><strong>Subtotal</strong>: <span ng-bind="Ctrl.cartService.total | currency"></span></small></p>
    	<p><small><strong>Tax</strong>: <span ng-bind="Ctrl.cartService.tax | currency"></span></small></p>
    	<hr />
		<p><strong>Total</strong>: <span ng-bind="Ctrl.cartService.findTotal() | currency"></span></p>

	</div>

  </div>

  <div class="modal-footer">
  	<button class="btn btn-primary" ng-click="Ctrl.close()">Close Cart</button>
  	<button class="btn btn-danger" ng-click="Ctrl.clear()" ng-show="Ctrl.cartService.cart.length > 0">Clear Cart</button>
    <button class="btn btn-success" ng-show="Ctrl.cartService.cart.length > 0" ng-click="Ctrl.checkout()">Checkout</button>
  </div>

</form>